<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="./css/default.css"/>
        <h:outputStylesheet name="./css/cssLayout.css"/>
        <title>Parcial</title> 
        
        <style> .Bimage{background-image:url("resources/Imagenes/fondo.png");}</style>
        
    </h:head>

    <h:body styleClass="Bimage">
       <!--cabecera--> 
        <div id="top" class="top">
            
            <ui:insert name="top">Top</ui:insert>
            <h:form>
            <p:megaMenu>  
               <p:menuitem value="Inicio" outcome="index.jsf"/>
                   
               <p:submenu label="Contactos">
                    <p:column>
                        <p:submenu label="Contactos">
                            <p:menuitem value="Registrar" outcome="registrar.jsf"/>
                            <p:menuitem value="Administrar" outcome="Administrar.jsf"/>                                                        
                        </p:submenu>
                    </p:column>
                    
                </p:submenu>
               
                <p:submenu label="Consultar"  >
                    <p:column>
                        <p:submenu label="Contactos" >
                            <p:menuitem value="Buscar" outcome="buscar.jsf"/>
                        </p:submenu>
                            
                    </p:column>
                    
                </p:submenu> 
               
                <p:submenu label="Informacion">
                    <p:column>
                        <p:submenu label="Presentado Por:"> 
                            <p:menuitem value="Jhonnatan S. Herrera G." outcome="Informacion.jsf"/>
                        </p:submenu>
                        <p:submenu label="Manual de Usuario">
                            <p:menuitem value="Ver" outcome="ManualUser.jsf"/>
                        </p:submenu>
                        <p:submenu label="Diagramas">
                            <p:menuitem value="Ver" outcome="Diagramas.jsf"/>                               
                                                        
                        </p:submenu>
                        
                    </p:column>
                    
                </p:submenu>
                
                
                
            </p:megaMenu></h:form>
            
        </div>
        <!--Fin de la cabecera--> 
        <!--cuerpo--> 
        <div id="content" class="center_content">
            <ui:insert name="content">Content</ui:insert>
        </div>
        <!-- Fin del cuerpo--> 
    </h:body>

</html>
