<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:body>

        <ui:composition template="./layout/layout.xhtml">

            <ui:define name="top">                
            </ui:define>

            <ui:define name="content">
                
                <center> <h1> ADMINISTRAR CONTACTOS </h1> </center>
                
                <h:form id="frm">
                    <br/><br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <p:commandButton value="Administrar" actionListener="#{personaMB.listar()}" update="datatable" /> <br/><br/><br/>
                    
                    <p:dataTable id="datatable" value="#{personaMB.lstpersonas}" var="persona">
                        <p:column headerText="Nombre">
                            <p:outputLabel value="#{persona.nombre}"/>
                        </p:column>
                        <p:column headerText="Apellido">
                            <p:outputLabel value="#{persona.apellido}"/>
                        </p:column>
                        <p:column headerText="Sexo">
                            <p:outputLabel value="#{persona.sexo}"/>
                        </p:column>
                        <p:column headerText="Telefono">
                            <p:outputLabel value="#{persona.telefono}"/>
                        </p:column>
                        <p:column headerText="Direccion">
                            <p:outputLabel value="#{persona.direccion}"/>
                        </p:column>
                        <p:column headerText="Modificar">
                            <center> <p:commandButton icon="ui-icon-pencil" actionListener="#{personaMB.readID(persona)}" oncomplete="PF('dialogodatos').show();" update=":dialogoDatos" /></center>
                        </p:column>
                        <p:column headerText="Eliminar">
                            <center> <p:commandButton icon="ui-icon-closethick" actionListener="#{personaMB.eliminar(persona)}" update="datatable"/></center>
                        </p:column>
                                              
                    </p:dataTable>
                </h:form>
                
                
                
                <p:dialog header="DATOS" widgetVar="dialogodatos" id="dialogoDatos" showEffect="explode" hideEffect="bounce">
                    
                            <h:form>
                                
                <p:panelGrid columns="2">   
                    
                <p:outputLabel value="Nombre:" for="Nombre"/> 
                <p:inputText id="Nombre" size="30" maxlength="15" placeholder="Ingrese el Nombre" value="#{personaMB.persona.nombre}" /> 
               
                <p:outputLabel value="Apellido:" for="Apellido"/> 
                <p:inputText id="Apellido" size="30" maxlength="15" placeholder="Ingrese el Apellido" value="#{personaMB.persona.apellido}" />
                    
               <p:outputLabel value="Sexo:" for="Sexo"/> 
                <p:selectOneRadio id="Sexo" required="true" value="#{personaMB.persona.sexo}" >
                    <f:selectItem itemLabel="Masculino" itemValue="M"/>
                    <f:selectItem itemLabel="Femenino" itemValue="F"/>
                </p:selectOneRadio> 
                
                <p:outputLabel value="Telefono:" for="Telefono"/> 
                <p:inputText id="Telefono" size="30" maxlength="10" placeholder="Ingrese el Telefono" value="#{personaMB.persona.telefono}" />
                
                <p:outputLabel value="Direccion:" for="Direccion"/> 
                <p:inputText id="Direccion" size="30" maxlength="40" placeholder="Ingrese la Direccion" value="#{personaMB.persona.direccion}" />
                
                </p:panelGrid> <br/>
                
                <center>
                    <p:commandButton value="Modificar" actionListener="#{personaMB.modificar()}" oncomplete="PF('dialogodatos').hide();" update=":frm:datatable" /> &nbsp;
                     <p:commandButton value="Cancerlar" immediate="true" oncomplete="PF('dialogodatos').hide();" /></center>
                </h:form>
                            
                        </p:dialog>
                
                
            </ui:define>

        </ui:composition>

    </h:body>
</html>
