<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:body>

        <ui:composition template="./layout/layout.xhtml">

            <ui:define name="top">               
            </ui:define>

            <ui:define name="content">
                
                <h:form>
                    <center>  <h1>BUSCAR CONTACTOS</h1> </center>
                    
                     <br/><br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   
                     <p:commandButton value="Listar" actionListener="#{personaMB.listar()}" update="data"/>
                                       
                     
                      <br/><br/><br/>
                     <p:dataTable id="data" value="#{personaMB.lstpersonas}" var="persona" >
                                                                              
                         
                         <p:column headerText="Nombre" filterBy="#{persona.nombre}" filterMatchMode="contains" >
                            <p:outputLabel value="#{persona.nombre}"/>
                        </p:column>
                        <p:column headerText="Apellido" filterBy="#{persona.apellido}" filterMatchMode="contains" >
                            <p:outputLabel value="#{persona.apellido}"/>
                        </p:column>
                        <p:column headerText="Sexo" filterBy="#{persona.sexo}" filterMatchMode="contains">
                            <p:outputLabel value="#{persona.sexo}"/>
                        </p:column>
                        <p:column headerText="Telefono" filterBy="#{persona.telefono}" filterMatchMode="contains">
                            <p:outputLabel value="#{persona.telefono}"/>
                        </p:column>
                        <p:column headerText="Direccion" filterBy="#{persona.direccion}" filterMatchMode="contains">
                            <p:outputLabel value="#{persona.direccion}"/>
                        </p:column>
                        
                    </p:dataTable>
                                   
                    
                </h:form>
                
                
                
                
            </ui:define>

        </ui:composition>

    </h:body>
</html>
