<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:body>

        <ui:composition template="./layout/layout.xhtml">

            <ui:define name="top">
                
            </ui:define>

            <ui:define name="content">
                
                
                <center> 
                    <h1>DIAGRAMAS DEL UML</h1> 
                    <br/><br/>
                    
                    <h2>DIAGRAMA DE CLASE</h2>
                    <br/><br/>
                    
                    <h:graphicImage value="resources/Imagenes/dc.png" width="600" height="300"/>
                    
                    <h2>DIAGRAMA DE CASOS DE USO</h2>
                    <br/><br/>
                    
                    <h:graphicImage value="resources/Imagenes/dcu.PNG" width="400" height="400"/></center>
                
                <br/><br/><br/><br/>
                <center> <h1>PATRONES DE DISEÑO</h1> </center><br/>
                
                <center> <h2>Patrón del filtro</h2><br/>
                <p> Es un patrón de diseño, mediante el cual, se permite filtrar una colección 
                    de objetos bajo diversos criterios.</p> <br/>
                    
                <h2>Patrón de la fachada</h2><br/>
                <p> patrón Fachada oculta las complejidades del sistema
                    y proporciona una interfaz para el cliente mediante
                    el cual el cliente puede acceder al sistema.</p> <br/>
                
                <h2>Patrón MVC</h2><br/>
                <p> El patrón de arquitectura MVC (Modelo Vista Controlador) es un patrón
                    que define la organización independiente del Modelo, 
                    la Vista (interfaz con el usuario u otro sistema) y el Controlador 
                    (controlador del workflow de la aplicación). <br/>

                    De esta forma, dividimos el sistema en tres capas donde, tenemos la encapsulación de los datos,
                    la interfaz o vista por otro y por último la lógica interna o controlador.</p>
                
                <br/> <p:commandButton value="Volver" action="index.jsf"/> <br/><br/><br/> </center>
            </ui:define>

        </ui:composition>

    </h:body>
</html>
