<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:body>

        <ui:composition template="./layout/layout.xhtml">
            
          <!-- Cabecera-->
            <ui:define name="top">                 
            </ui:define>
          <!-- Final Cabecera-->
          
          <!--Cuerpo-->
            <ui:define name="content">
                  
                  <center> <h1> Primer Parcial </h1> </center> 
                <br/>
                <center>
                    <p>
                        Realizar Aplicativo Web usando primefaces,
                        que permita administrar a una lista de contactos de un directorio web,
                        donde permita la búsqueda, según varios criterios, como nombre, correo, teléfono etc..
                    </p>
                
                <br/>
                <h:graphicImage value="resources/Imagenes/programacion.png" width="200" height="190"/>
                
               <h2>EJERCICIO:</h2>
              <h:graphicImage value="resources/Imagenes/a.png" width="50" height="50"/>
                </center> <br/>
                  
                
                <p:notificationBar position="top" effect="slide" styleClass="top" widgetVar="bar">
                
                <h:graphicImage value="resources/Imagenes/Bienvenido.png" width="180" height="100"/> &nbsp; &nbsp;
                <h:outputText value="BIENVENIDO!! " style="font-size:30px; color:black"  />
                </p:notificationBar> <center>
 
               <p:commandButton value="Show" onclick="PF('bar').show()" type="button" icon="ui-icon-arrow-1-s"/>
               <p:commandButton value="Hide" onclick="PF('bar').hide()" type="button" icon="ui-icon-arrow-1-n"/></center>
                
                
                
                
                
            </ui:define>
           <!--Final Cuerpo-->
        </ui:composition>

    </h:body>
</html>
