<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:body>

        <ui:composition template="./layout/layout.xhtml">

            <ui:define name="top">
                
            </ui:define>

            <ui:define name="content">
                  
                <center> <h1> INFORMACION:</h1> </center>
                
                <center><p> 
                          
                        <br/> <h2> PRESENTADO POR: </h2> 
                        
                        Jhonnatan Smith Herrera Gonzalez
                        
                        <h2> PRESENTADO A: </h2>
                        
                        Alexander Jesus Osorio Barone 
                         
                        <h2> PROGRAMA: </h2> 
                        
                        Tecnologia en Desarrollo de Sistemas de Informacion 
                        
                       <h2> ASIGNATURA:</h2>
                        
                       Desarrollo de Software II
                       
                         <br/> <br/> 
                        <p:graphicImage value="resources/Imagenes/logoU.png" width="200" height="171"/>
                        
                       <h2>  PAIS/CUIDAD: </h2> 
                        Colombia - Cartagena
                        
                       <h2>  AÑO: </h2> 
                        
                              2016
                        
                    </p></center>
                
                
            </ui:define>

        </ui:composition>

    </h:body>
</html>
