<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html" 
      xmlns:p="http://primefaces.org/ui">

    <h:body>

        <ui:composition template="./layout/layout.xhtml">

            <ui:define name="top">
                
            </ui:define>

            <ui:define name="content">
                
                <center><h1>MANUAL DE USUARIO</h1></center>
                
                <br/>
                    
                 <center>
                     <h:graphicImage value="resources/capturasMU/manual.png" width="300" height="300"/><br/><br/>
                     <P> La siguiente es un aplicativo web (Directorio Web), que permite: <br/> registrar, modificar, eliminar, listar y buscar contactos
                         del Directorio Web.<br/> A continuacion hay una serie de imagenes donde aprendera a manipular el aplicativo Web. 
                    </P>
                     <br/>
                    
                    <h2> I </h2><br/>
                    <p>PAGINA PRINCIPAL DEL APLICATIVO WEB. <br/>
                    En la parte superior de la pagina vemos un Megamenu horizontal, Donde podemos observar varias opciones (submenu):
                    Inicio, Contactos, Consultar y Informacion. cada submenu contiene varias opciones con funciones diferentes.  
                    </p>
                     <h:graphicImage value="resources/capturasMU/1.PNG" width="800" height="400"/><br/><br/>
                     
                     <h2> II </h2><br/>
                     
                     <p> MENSAJE DE BIENVENIDA. <br/>
                         
                         En la parte inferior podemos observar dos botones, SHOW Y HIDE, estos nos permite ver y ocultar el mensaje de Bienvenia.
                         En la siguiente Imagen daremos clik en el boton SHOW. </p>
                             <h:graphicImage value="resources/capturasMU/0.png" width="800" height="400"/><br/><br/>   
                             
                             <h2> III </h2><br/>
                     
                     <p> MENSAJE DE BIENVENIDA. <br/>
                         
                         Como pudimos ver en la anterior Imagen, se nos mostro un mensaje de Bienvenida, para ocultarla 
                         se dio click en el boton HIDE. </p>
                             <h:graphicImage value="resources/capturasMU/00.PNG" width="800" height="400"/><br/><br/>  
                             
                      <h2> IV </h2><br/>
                     
                     <p> SUBMENU INICIO. <br/>
                         EL Siguiente SUBMENU (Inicio), Tiene la funcion de llevarte a la vista principal.
                          </p>
                             <h:graphicImage value="resources/capturasMU/2.png" width="800" height="400"/><br/><br/>  
                             
                             <h2> V </h2><br/>
                     
                     <p> SUBMENU CONTACTOS.<br/>
                         EL Siguiente SUBMENU (Contactos), tiene varias opciones: Registrar y Administrar.
                          </p>
                             <h:graphicImage value="resources/capturasMU/3.png" width="800" height="400"/><br/><br/> 
                             
                             <h2> VI </h2><br/>
                     
                     <p> SUBMENU CONTACTOS.<br/>
                         A continuacion seleccionaremos la opcion Registrar, para poder guardar un contacto.
                          </p>
                             <h:graphicImage value="resources/capturasMU/4.png" width="800" height="400"/><br/><br/> 
                             
                              <h2> VII </h2><br/>
                     
                     <p> SUBMENU CONTACTOS / REGISTRAR.<br/>
                         A continuacion podemos ver un formulario para guardar al contacto.
                          </p>
                             <h:graphicImage value="resources/capturasMU/12.PNG" width="800" height="400"/><br/><br/>
                             
                              <h2> VIII </h2><br/>
                     
                     <p> SUBMENU CONTACTOS / REGISTRAR.<br/>
                         (VALIDACIONES)<br/>
                         El aplicativo no permitira enviar campos vacios, por lo que se recomienda diligenciar todos los datos requeridos. 
                         Este notificara al lado derecho cuando falte un campo por diligenciar.
                          </p>
                             <h:graphicImage value="resources/capturasMU/13.png" width="800" height="400"/><br/><br/>
                             
                             <h2> IX </h2><br/>
                     
                     <p> SUBMENU CONTACTOS / REGISTRAR.<br/>
                         (VALIDACIONES)<br/>
                         El aplicativo no permitira enviar campos vacios, por lo que se 
                         notificara al lado derecho cuando falte un campo por diligenciar.
                          </p>
                             <h:graphicImage value="resources/capturasMU/14.png" width="800" height="400"/><br/><br/>
                             
                             <h2> X </h2><br/>
                     
                     <p> SUBMENU CONTACTOS / REGISTRAR.<br/>
                         (GUARDAR)<br/>
                         Despues de haber diligenciado todos los campos este te permitira guardar.
                          </p>
                             <h:graphicImage value="resources/capturasMU/15.png" width="800" height="400"/><br/><br/>
                             
                              <h2> XI </h2><br/>
                     
                     <p> SUBMENU CONTACTOS.<br/>
                          Despues de registrar un contacto podemos Administrarlo. Seleccionaremos la opcion Administrar para posteriormente 
                          poder Modificarlo y Eliminarlo.
                          </p>
                             <h:graphicImage value="resources/capturasMU/5.png" width="800" height="400"/><br/><br/> 
                             
                              <h2> XII </h2><br/>
                     
                     <p> SUBMENU CONTACTOS / ADMINISTRAR.<br/>
                          Si queremos ver la lista de contactos registrados para poder Modificarlo o Eliminarlo, daremos click en el Boton ADMINISTRAR.
                          </p>
                             <h:graphicImage value="resources/capturasMU/17.png" width="800" height="400"/><br/><br/> 
                             
                              <h2> XIII </h2><br/>
                     
                     <p> SUBMENU CONTACTOS / ADMINISTRAR.<br/>
                         (ADMINISTRAR)<br/>
                          Vemos como se despliega una lista de todos los contactos registrados.
                          </p>
                             <h:graphicImage value="resources/capturasMU/18.PNG" width="800" height="400"/><br/><br/> 
                             
                              <h2> XIV </h2><br/>
                     
                     <p> SUBMENU CONTACTOS / ADMINISTRAR<br/>
                         (MODIFICAR)<br/>
                          Para Modificar el contacto daremos click en el boton de modificar,
                          ubicada en la sexta columna de la fila del contacto a editar.
                          </p>
                             <h:graphicImage value="resources/capturasMU/19.png" width="800" height="400"/><br/><br/> 
                             
                             <h2> XV </h2><br/>
                             
                             <p> SUBMENU CONTACTOS / ADMINISTRAR<br/>
                         (MODIFICAR)<br/>
                          Al dar click en el boton modificar se mostrara una pequeña ventana para poder modificarlo. 
                          En el siguiente ejemplo modificaremos el numero de telefono.
                          </p>
                             <h:graphicImage value="resources/capturasMU/20.png" width="800" height="400"/><br/><br/>
                             
                             <h2> XVI </h2><br/>
                             
                             <p> SUBMENU CONTACTOS / ADMINISTRAR<br/>
                         (MODIFICAR)<br/>
                         Cuando terminos de editar el contacto, daremos click en modificar y vemos como se aplican los cambios.
                          </p>
                             <h:graphicImage value="resources/capturasMU/21.PNG" width="800" height="400"/><br/><br/>
                             
                             <h2> XVII </h2><br/>
                             
                             <p> SUBMENU CONTACTOS / ADMINISTRAR<br/>
                         (MODIFICAR/CANCELAR)<br/>
                         Cuando terminemos de editar el contacto, pero no queremos aplicar los cambios daremos click en cancelar y el contacto seguira como antes.
                          </p>
                             <h:graphicImage value="resources/capturasMU/22.png" width="800" height="400"/><br/><br/> 
                             
                             <h2> XVIII </h2><br/>
                             
                             <p> SUBMENU CONTACTOS / ADMINISTRAR<br/>
                         (MODIFICAR/CANCELAR)<br/>
                         Despues de dar en Cancelar vemos como los cambios no han sido aplicados.
                          </p>
                             <h:graphicImage value="resources/capturasMU/23.PNG" width="800" height="400"/><br/><br/> 
                             
                             <h2> XIX </h2><br/>
                             
                             <p> SUBMENU CONTACTOS / ADMINISTRAR<br/>
                         (ELIMINAR)<br/>
                         Para eliminar un contacto solo baste con dar click en el boton Eliminar ubicado en la columna siete en la fila del contacto a eliminar.
                          </p>
                             <h:graphicImage value="resources/capturasMU/24.png" width="800" height="400"/><br/><br/>
                             
                             <h2> XX </h2><br/>
                             
                             <p> SUBMENU CONTACTOS / ADMINISTRAR<br/>
                         (ELIMINAR)<br/>
                         Al dar en el boton Eliminar vemos como el contacto es borrado.
                          </p>
                             <h:graphicImage value="resources/capturasMU/25.PNG" width="800" height="400"/><br/><br/>
                             
                              <h2> XXI </h2><br/>
                     
                     <p> SUBMENU CONSULTAR.<br/>
                          Cuando se tiene un Registro de Contactos podemos listar y buscar el contaco deseado. A continuacion seleccionaremos la opcion(Buscar) dentro del SUBMENU CONSULTAR. 
                          </p>
                             <h:graphicImage value="resources/capturasMU/6.png" width="800" height="400"/><br/><br/> 
                             
                             <h2> XXII </h2><br/>
                             
                             <p> SUBMENU CONSULTAR / BUSCAR.<br/>
                                  
                          Para ver el listado de contactos, daremos click en el boton Listar. 
                          </p>
                             <h:graphicImage value="resources/capturasMU/26.png" width="800" height="400"/><br/><br/> 
                             
                             <h2> XXIII </h2><br/>
                             
                             <p> SUBMENU CONSULTAR / BUSCAR. <br/>
                                 (LISTAR) <br/>
                          Vemos como se listan todos los contacto registrados. 
                          </p>
                             <h:graphicImage value="resources/capturasMU/27.PNG" width="800" height="400"/><br/><br/> 
                             
                             <h2> XXIV </h2><br/>
                             
                             <p> SUBMENU CONSULTAR / BUSCAR.<br/>
                                 (BUSCAR) <br/>
                          Para buscar un contacto o alguna informacion de este, podemos escribir su Nombre en el campo 
                          de la columna NOMBRE, o tan bien su Apellido 
                          en el campo de la columna APELLIDO y asi mismo con: Telefono, Direccion y
                          Sexo. Este nos mostrara todas las coincidencias que encuentre. 
                          </p>
                             <h:graphicImage value="resources/capturasMU/28.PNG" width="800" height="400"/><br/><br/> 
                             
                             <h2> XXV </h2><br/>
                     
                     <p> SUBMENU INFORMACION.<br/>
                          En el SUBMENU INFORMACION encontraremos varias opciones: Presentacion, Manual de Usuario (Vista Actual) y Diagramas.
                          </p>
                             <h:graphicImage value="resources/capturasMU/8.png" width="800" height="400"/><br/><br/> 
                             
                             <h2> XXVI </h2><br/>
                     
                     <p> SUBMENU INFORMACION.<br/>
                          En la siguiente Imagen seleccionaremos la opcion Prensentacion.
                          </p>
                             <h:graphicImage value="resources/capturasMU/9.png" width="800" height="400"/><br/><br/> 
                             
                             <h2> XXVII </h2><br/>
                     
                     <p> SUBMENU INFORMACION / PRESENTACION.<br/>
                          Podemos observar la vista de presentacion.
                          </p>
                             <h:graphicImage value="resources/capturasMU/29.PNG" width="800" height="400"/><br/><br/> 
                             
                             <h2> XXVIII </h2><br/>
                     
                     <p> SUBMENU INFORMACION.<br/>
                          Seleccionaremos la opcion (Ver) del Manual de Usuario, dentro de SUBMENU INFORMACION.
                          </p>
                             <h:graphicImage value="resources/capturasMU/10.png" width="800" height="400"/><br/><br/> 
                             
                               <h2> XXIX </h2><br/>
                     
                     <p> SUBMENU INFORMACION / MANUAL DE USUARIO.<br/>
                          Podemos observar El actual Manual de usuario para un manejo adecuado de la Aplicacion Web.
                          </p>
                             <h:graphicImage value="resources/capturasMU/32.PNG" width="800" height="400"/><br/><br/> 
                             
                              <h2> XXX </h2><br/>
                     
                     <p> SUBMENU INFORMACION.<br/>
                          Seleccionaremos la opcion (Ver) de la opcion Diagramas, dentro de SUBMENU INFORMACION.
                          </p>
                             <h:graphicImage value="resources/capturasMU/11.png" width="800" height="400"/><br/><br/> 
                             
                              <h2> XXXI </h2><br/>
                     
                     <p> SUBMENU INFORMACION / DIAGRAMAS.<br/>
                          Podemos observar los siguientes Diagramas:  Diagrama de Clase Y Diagrama de Casos de Uso. 
                          </p>
                             <h:graphicImage value="resources/capturasMU/30.PNG" width="800" height="400"/><br/><br/> <br/>
                             
                             <h2> GRACIAS POR LEER EL MANUAL DE USUARIO!! </h2> <br/>
                             
                             <p:commandButton value="Volver" action="index.jsf" /><br/><br/><br/>
                    
                 </center>
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
              
            </ui:define>

        </ui:composition>

    </h:body>
</html>
