<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:body>

        <ui:composition template="./layout/layout.xhtml">
            
           <!-- Cabecera-->
            <ui:define name="top">                
            </ui:define>
           <!--fin de la cabecera-->
           
           
           <!--cuerpo-->
            <ui:define name="content">
                
                <p:growl id="growl" autoUpdate="true" showDetail="true"  /> <br/>
                
                <center><h1>REGISTRO DE CONTACTO</h1></center>
                <!--Inicio del Formulario -->               
                <center><h:form id='form'> <br/><br/> <h:panelGrid columns="2">
                <p:outputLabel value="Nombre:" for="Nombre"/> 
                <p:inputText id="Nombre" size="30" maxlength="15" placeholder="Ingrese el Nombre" value="#{personaMB.persona.nombre}" required="true" requiredMessage="Campo Obligatorio. Ingrese el Nombre."/> 
               
                <p:outputLabel value="Apellido:" for="Apellido"/> 
                <p:inputText id="Apellido" size="30" maxlength="15" placeholder="Ingrese el Apellido" value="#{personaMB.persona.apellido}" required="true" requiredMessage="Campo Obligatorio. Ingrese el Apellido."/>
                    
                <p:outputLabel value="Telefono:" for="Telefono"/> 
                <p:inputText id="Telefono" size="30" maxlength="10" placeholder="Ingrese el Telefono" value="#{personaMB.persona.telefono}" required="true" requiredMessage="Campo Obligatorio. Ingrese el Telefono."/>
                
                <p:outputLabel value="Direccion:" for="Direccion"/> 
                <p:inputText id="Direccion" size="30" maxlength="40" placeholder="Ingrese la Direccion" value="#{personaMB.persona.direccion}" required="true" requiredMessage="Campo Obligatorio. Ingrese la Direccion."/>
                
                <p:outputLabel value="Sexo:" for="Sexo"/> 
                <p:selectOneRadio id="Sexo" required="true" value="#{personaMB.persona.sexo}" requiredMessage="Campo Obligatorio. Seleccione el Sexo.">
                    <f:selectItem itemLabel="Masculino" itemValue="M"/>
                    <f:selectItem itemLabel="Femenino" itemValue="F"/>
                </p:selectOneRadio> 
                                  
                                          
                <br/> <br/> 
                
                
                </h:panelGrid>     
                        &nbsp; &nbsp; <p:commandButton value="Guardar" actionListener="#{personaMB.registrar()}" action="registrar?faces-redirect=true" />
                </h:form></center> 
                <!-- Fin del formulario-->
                
            </ui:define>
            <!-- Fin del cuerpo -->
        </ui:composition>

    </h:body>
</html>
